.search-results mark {
  @apply bg-newOrange-1 text-black; /* TODO: Choose a better color? */
}

select {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAzMiAyNCIgc3Ryb2tlV2lkdGg9IjEuNSIgc3Ryb2tlPSIjZmZmOCI+PHBhdGggc3Ryb2tlTGluZWNhcD0icm91bmQiIHN0cm9rZUxpbmVqb2luPSJyb3VuZCIgZD0ibTE5LjUgOC4yNS03LjUgNy41LTcuNS03LjUiIC8+PC9zdmc+)
    no-repeat 100% 50%;
  background-size: 3rem;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
